.root {
    -fx-font-family: "System";
    -fx-font-size: 12.703703703703704px;
    -fx-base: #555555;
    -fx-background: #F0F0F0;
    -fx-focus-color: #AAAAAA;
    -fx-text-base-color:#F0F0F0;
    -fx-control-inner-background: #FFFFFF;
    


}


/* Description textArea */


.descriptionValue {
    -fx-background-color: white;
    -fx-font: 1.166666em "System";
    -fx-background-color: #F0F0F0;
    -fx-effect: innershadow(three-pass-box, gray, 0 , 0.5, 1, 1);
 }

.descriptionValue:focused {
    -fx-background-color: -fx-focus-color, transparent, #F0F0F0;
     -fx-effect: innershadow(three-pass-box, gray, 0 , 0.5, 1, 1);
} 

.descriptionValue:hover {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, #EEEEEE;
}


/* Anchor Pane, Label and Textfield in Properties area */


.propLabel {
	-fx-text-fill: #F0F0F0;
	-fx-font: 0.833333em "System";
}


.propTextField {

    -fx-font: 1em "System";
    -fx-padding: 0;
    -fx-background-color: #F0F0F0;
    -fx-effect: innershadow(three-pass-box, gray, 0 , 0.5, 1, 1);
}

.propTextField:hover {
    -fx-background-color: -fx-focus-color, -fx-text-box-border, #EEEEEE;
     
}

.propTextField:focused {
    -fx-background-color: -fx-focus-color, transparent, #F0F0F0;
    -fx-effect: innershadow(three-pass-box, gray, 0 , 0.5, 1, 1);
} 

.dividerLines {
	-fx-stroke-width: 0.9;
	-fx-stroke:#F0F0F0;
}

/* A rounded AnchorPane */


.roundedAnchorPane {
    -fx-border-radius:10 10 10 10;
    -fx-border-color: #F0F0F0;
    -fx-border-width: 0.083333em;
}




/* ToolBar buttons background and font*/


.roundedButton {
	-fx-background-radius: 12;
	-fx-font: 1em "System";
	-fx-padding: 0 0 0 0;	
	-fx-shadow-highlight-color: #F0F0F0;
	-fx-body-color: linear-gradient(from 0em 0em to 0em 2.083333em, white, #D7D7D7, white);
}

.topBarBackground {
	-fx-background-color: linear-gradient(to bottom, #f8f8f8, #b5b5b5);
}



/* Splitpane styling */



.vsplitpane {
    -fx-padding: -1 -1 -2 -2 ;
    -fx-background-insets: 1; /* remov left right line of splitPane*/
    -fx-background-image: url("../images/texture1.png");
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 80, 0.0 , 0 , 0 );
}

.vsplitpane:vertical > * > .split-pane-divider {
-fx-border-color: transparent;
-fx-background-color: transparent;
-fx-background-insets: 0, 0 1 0 1;
}

.vsplitpane  *.vertical-grabber {
    -fx-background-color:black;
    -fx-shape: "M0 0 L0 0 L0 5 L2 5 L2 0 L0 0 Z"; /* TODO NOT THE RIGHT L&F */
}
 
.vsplitpane  *.horizontal-grabber {
    -fx-background-color:black;
    -fx-shape: "M0 0 L0 0 L0 5 L2 5 L2 0 L0 0 Z"; /* TODO NOT THE RIGHT L&F */
}

.hsplitpane {
    -fx-padding: -1 -1 -2 -2 ;
    -fx-background-insets: 1; /* remov left right line of splitPane*/
    -fx-background-image: url("../images/texture1.png");
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.4) , 80, 0.0 , 0 , 0 );
}
.hsplitpane:horizontal > * > .split-pane-divider {
-fx-border-color: transparent;
-fx-background-color: transparent;
-fx-background-insets: 0, 0 1 0 1;
}



.hsplitpane  *.vertical-grabber {
    -fx-background-color:black;
    -fx-shape: "M0 0 L0 0 L0 5 L2 5 L2 0 L0 0 Z"; /* TODO NOT THE RIGHT L&F */
}

.hsplitpane  *.horizontal-grabber {
    -fx-background-color:black;
    -fx-shape: "M0 0 L0 0 L0 5 L2 5 L2 0 L0 0 Z"; /* TODO NOT THE RIGHT L&F */
}

.button, .toggle-button, .choice-box {
    -fx-background-radius: 20, 20, 19, 18;
    -fx-padding: 5px 10px 5px 10px;
    -fx-control-inner-background: -fx-background;
    -fx-inner-border: linear-gradient(to bottom, derive(-fx-color,35.0%) 0%, derive(-fx-color,-6.0%) 100%);
    -fx-body-color: linear-gradient( to bottom, derive(-fx-color, 35.0%) 0%, derive(-fx-color, -6.0%) 100%);
}
.menu-button {
    -fx-background-radius: 20, 20, 19, 18;
}
.menu-button .label {
    -fx-padding: 3px 18px 3px 10px;
}
.menu-button .arrow-button {
    -fx-padding: 3px 6px 3px 0px;
}
.choice-box {
    -fx-padding: 0 6px 0 0;
}
.choice-box .label {
    -fx-padding: 3px 4px 3px 6px;
}
.choice-box .open-button {
    -fx-padding: 1 0 0 8px;
}
.combo-box-base:editable .text-field, .combo-box-base .arrow-button, .combo-box .list-cell {
    -fx-padding: 3px 6px 3px 6px;
}
.check-box .box {
    -fx-padding: 0.25em;
}
.radio-button .radio {
    -fx-padding: 0.333333em;
}
.check-box, .radio-button {
    -fx-text-fill: -fx-text-background-color;
}
.button, .toggle-button, .check-box .box, .radio-button .radio, .choice-box, .menu-button, .tab, .combo-box-base {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.button:focused, .toggle-button:focused, .check-box:focused .box, .radio-button:focused .radio, .choice-box:focused, .menu-button:focused, .combo-box-base:focused {
    -fx-background-insets: -1.4, 0, 1, 2;
}
.combo-box-base .arrow-button {
    -fx-background-insets: 0, 1, 2;
}
.choice-box  { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
.menu-button { /* Workaround for RT-20015 */
    -fx-text-fill: -fx-text-base-color;
}
